
@import "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
.ui-datepicker {
    background-color: #fff;
    border: 1px solid #66afe9;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    display: none;
    margin-top: 4px;
    padding: 10px;
    width: 240px;
}
.ui-datepicker a, .ui-datepicker a:hover {
    text-decoration: none;
}
.ui-datepicker a:hover, .ui-datepicker td:hover a {
    color: #2a6496;
    transition: color 0.1s ease-in-out 0s;
}
.ui-datepicker .ui-datepicker-header {
    margin-bottom: 4px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title {
    font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    cursor: default;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    line-height: 1;
    margin-top: 2px;
    width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
    float: left;
    text-align: left;
}
.ui-datepicker .ui-datepicker-next {
    float: right;
    text-align: right;
}
.ui-datepicker .ui-datepicker-prev::before {
    content: "";
}
.ui-datepicker .ui-datepicker-next::before {
    content: "";
}
.ui-datepicker .ui-icon {
    display: none;
}
.ui-datepicker .ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th, .ui-datepicker .ui-datepicker-calendar td {
    padding: 4px 0;
    text-align: center;
}
.ui-datepicker .ui-datepicker-calendar td {
    border-radius: 4px;
    transition: background-color 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
    background-color: #eee;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
    background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
    color: #fff;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
    background-color: #fff;
    cursor: default;
}
.dp_calendar .clear {
    clear: both;
}
.dp_calendar .loading {
    background: rgba(0, 0, 0, 0) url("loading.gif") no-repeat scroll 50% 50%;
    height: 39px;
    width: 41px;
}
.dp_calendar {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #272727;
    line-height: 1;
    padding: 1px;
    text-align: left;
}
.dp_calendar .div_main_date {
    background: #f6f6f6 url("bg_top.jpg") repeat-x scroll 0 100%;
    padding: 20px;
    text-align: center;
}
.dp_calendar .main_date {
    font-size: 50px;
    position: relative;
}
.dp_calendar .main_date a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}
.dp_calendar .main_date a#next_month {
    position: absolute;
    right: 20px;
}
.dp_calendar .main_date a#prev_month {
    left: 20px;
    position: absolute;
}
.dp_calendar .div_dates {
    text-align: center;
}
.dp_calendar .div_dates ul {
    list-style: outside none none;
    margin: 0 auto;
    padding: 0 10px;
}
.dp_calendar li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 0;
    padding: 0;
}
.dp_calendar .div_dates li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #929292;
    float: left;
    font-size: 21px;
    line-height: 100% !important;
    list-style: outside none none;
    padding: 10px 5px 5px;
    width: 37px;
}
.dp_calendar .div_dates li:hover, .dp_calendar .div_dates li.active {
    background: rgba(0, 0, 0, 0) url("hover_dates.png") no-repeat scroll 50% 0;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}
.dp_calendar .div_dates li.has_events {
    background: rgba(0, 0, 0, 0) url("hover_dates_has_event.png") no-repeat scroll 50% 0;
    color: #3679b5 !important;
}
.dp_calendar .div_dates .day_name {
    margin: 0 20px;
    text-align: left;
}
.dp_calendar .div_dates .day_name h1 {
    color: inherit;
    float: left;
    font-size: 70px !important;
    font-weight: bold !important;
    margin: 20px 0 10px;
    text-transform: uppercase;
}
.dp_calendar .div_dates .day_name .div_month {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 7px;
    text-align: center;
    width: 50px;
}
.dp_calendar .div_dates .day_name .span_month {
    font-size: 25px;
    text-transform: uppercase;
}
.dp_calendar .div_dates .day_name .span_day {
    font-size: 35px;
}
.dp_calendar .calendar_list {
    background: #f4f4f4 none repeat scroll 0 0;
    clear: left;
    min-height: 100px;
    padding: 20px;
    text-align: left;
}
.dp_calendar .calendar_list h2 {
    color: inherit;
    float: left;
    font-size: 18px;
    font-weight: normal;
    line-height: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.dp_calendar .calendar_list ul#cl_sort_by {
    margin: 0;
    padding: 0;
}
.dp_calendar .calendar_list ul#cl_sort_by li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #929292;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 100%;
    margin-left: 10px;
    padding: 0;
    text-transform: uppercase;
}
.dp_calendar .calendar_list ul#cl_sort_by li:hover, .dp_calendar .calendar_list ul#cl_sort_by li.active {
    color: #272727;
    cursor: pointer;
    text-decoration: underline;
}
.dp_calendar .calendar_list #list {
    list-style: outside none none;
    margin: 20px 0 0;
}
.dp_calendar .calendar_list #list li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    cursor: pointer;
    line-height: normal;
    list-style: outside none none;
    min-height: 41px;
    padding: 11px;
}
.dp_calendar .calendar_list #list li h1 {
    clear: none;
    color: inherit;
    float: left;
    font-size: 38px;
    font-weight: normal;
    line-height: 100%;
    margin: 0 0 0 10px;
}
.dp_calendar .calendar_list #list li .time {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #f6f6f6;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    padding: 10px;
}
.dp_calendar .calendar_list #list li p {
    display: none;
    font-size: 16px;
    line-height: 100%;
    margin: 10px 0 0;
}
.dp_calendar .calendar_list #list li.urgent .time {
    background: #d44d45 none repeat scroll 0 0;
    border: 1px solid #b8413a;
}
.dp_calendar .calendar_list #list li.medium .time {
    background: #f8b356 none repeat scroll 0 0;
    border: 1px solid #ecab52;
}
.dp_calendar .calendar_list #list li.low .time {
    background: #c6cf52 none repeat scroll 0 0;
    border: 1px solid #b9c14c;
}
.dp_calendar .calendar_list #list li:hover {
    background-color: #f9f9f9;
    background-position: 1px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}
